html,body{margin:0;padding:0}

* { 
    text-decoration: none;
 }

#grey {
	background: #efefef;
}

#white {
	background: #ffffff;
}

#color1 {
    background-color: #143842;
}
#color2 {
    background-color: #d86a47;
}
#color3 {
    background-color: #5f70ab;
}
#color4 {
    background-color: #bd6773;
}
#color5 {
    background-color: #e0a546;
}
.canvas {
border-radius: 15px;
display: block;
width: 100%;
height: 100%;
}

.h1White { 
font-family: 'Futura', sans-serif;
font-size: 40px; 
color: #ffffff;
line-height: 1.3;
}

.quote { 
font-family: 'Futura', sans-serif;
font-size: 30px; 
color: #b3790d;
line-height: 1.3;
text-align: center;
font-weight: bold;
}

.quote2 { 
font-family: 'Futura', sans-serif;
font-size: 20px; 
color: #d68e9b;
line-height: 1.3;
text-align: center;
font-weight: bold;
}


.h1 { 
font-family: 'Futura', sans-serif;
font-size: 40px; 
color: #000000;
line-height: 1.5;
font-weight: bold;
font-style: italic;
}

.bodyWhite { 
font-family: 'Optima', sans-serif;
font-size: 18px; 
color: #ffffff;
line-height: 1.5;
}

.h2 { 
font-family: 'Futura', sans-serif;
font-size: 28px; 
color: #934a5d;
font-weight: 300;
line-height: 1.5;
}

.h3 { 
font-size: 21px;
font-weight: 100;
color: #000000;
line-height: 1;
}

.foot { 
position:relative;
display: block;
font-family: 'Futura', sans-serif;
font-size: 15px; 
color: #ffffff;
}

.body { 
font-family: 'Optima', sans-serif;
font-weight: 200;
font-size: 16px; 
color: #000000;
line-height: 1.5;
margin: 0px;
}

.body2 { 
font-family: 'Optima', sans-serif;
font-weight: 500;
font-size: 16px; 
color: #000000;
line-height: 1.5;
margin: 0px;
font-weight: ;
}

.Uicons { 
font-family: 'Futura', sans-serif;
font-weight: 500;
font-size: 18px; 
line-height: 1.5;
color: #293e85;
}

.caption { 
font-size: 14px; 
font-family: 'Optima', sans-serif;
font-weight: 600;
color: #000000;
line-height: 2;
align-content: center;
}

.buttonT {
font-family: 'Futura', sans-serif;
text-align : left;
cursor : pointer;
display: block;
margin-top:5px;
}

.clickS:hover {
color: #e0a546;
}

.clickS{ 
margin: 0PX;
margin-left: 5px;
margin-right: 5px;    
color: #ffffff; 
font-size: 16px;
}

.buttonO {
display: inline-block;
width : 50px;
height : 50px;
background : #d68e9b;
transition : .5s;
cursor : pointer;
border-radius : 50px;
margin-right: 15px;
}

.buttonO:hover{
background : #e0a546;
width : 55px;
height : 55px;
border-radius : 100px;
}

.clickO{ 
font-family: 'Futura', sans-serif;
margin: 9px;
color: #bd6773; 
font-weight: 500;
font-size: 24px;
}

.clickO:hover{
color : #ffffff;
}

.button {
position:fixed;
bottom: 30px;
left: 50%;
margin-left: -100px;
width : 200px;
height : 50px;
background : #ffffff;
text-align : center;
transition : .5s;
cursor : pointer;
border-radius : 50px;
}

.button:hover{
background : #293e85;
}

.click{ 
font-family: 'Futura', sans-serif;
margin: 9px;
color: #bd6773; 
font-weight: 500;
font-size: 24px;
}

.click:hover{
color : #ffffff;
}

.social { 
position: relative;
display: inline-block;
width: 25px;
height: 25px;
margin: 12%;
}

@media (min-width: 767px) {
    
.center{
text-align: center;
}

.centerQ{
text-align: center;
padding-left: 15%;
padding-right: 15%;
}
    
.icon{

}

.canvas {
width: 100%;
}	
    
.header { 
height: 73px;
background-color: #ffffff;
}
    
.line {
height: 1px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #050b1e;
}

.line2 {
height: 2px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #050b1e;
}
    
.col {
position: relative;
display: inline-block;
width: 33%;
}
    
.Acol {
float: center;
width: 100%;
}
    
.rowArt {
padding-left: 7%;
padding-right: 7%;
padding-top: 7%;
height: 499px;
}
    
.row0 {
padding-left: 7%;
padding-right: 7%;
padding-top: 2%;
padding-bottom: 4%;
height: auto;
    }
    
.row {
padding-left: 7%;
padding-right: 7%;
padding-top: 7%;
padding-bottom: 7%;
height: auto;

/*background-image: url("images/background_1.png");
background-repeat: no-repeat; /* Do not repeat the image */
}

.rowShort {
padding-left: 7%;
padding-right: 7%;
padding-top: 0%;
padding-bottom: 0%;
height: auto;
}
    
.footer {
padding-left: 7%;
padding-right: 7%;
padding-top: 5%;
height: 300px; 
}

.card1{ 
position: relative;
display: inline-block;
width: 100px;
height: 150px;
margin: 2%;
}

.card2{ 
float: left;
position: relative;
display: inline-block;
width: 100%;
align-content: left;
}

.card3{ 
float: right;
position: relative;
display: inline-block;
width: 75%;
padding-left: 20px;
align-content: center;
}

.cardD{
margin-left: 10px;
width: 100px;
display: inline-grid;
}

.cardD3{ 
border-radius: 15px;
background-color: #ffffff;
width:48%;
margin-right: 5px;
margin-bottom: 10px;
display: inline-grid;
}
    
.logoD{

width: 200px;
height: 200px;
display: inline-grid;   
    }
    
    .logo_D_black{
padding-left: 20px;
padding-right: 20px;
width: 150px;
height: 370px;
background-color: #000000;
margin-top: -200px;
display: inline-grid;   
    }
        .logoP{
        display: none;
    }
        .logo_P_black{
        display: none;
    }
    

.cardLogo{ 
border-radius: 15px;
margin-left: 20px;
background-color: #ffffff;
width: 100px;
height: 100px;
margin-bottom: 10px;
padding: 5px;
box-shadow: -20px 7px 20px rgba(70,97,81, 0.2);
}
    
}

@media (max-width: 767px) {
    
.center{
text-align: center;
}

.centerQ{
text-align: center;
padding-left: 0%;
padding-right: 0%;
}
  
    
.quote { 
font-family: 'Futura', sans-serif;
font-size: 22px; 
color: #b3790d;
line-height: 1.3;
text-align: center;
font-weight: bold;
}
    
.quote2 { 
font-family: 'Futura', sans-serif;
font-size: 15px; 
color: #ce7281;
line-height: 1.3;
text-align: center;
font-weight: bold;
}
    
.logoP{
width: 100px;
height: 100px;
padding-top: 20px;
display: inline-grid;   
}
    
.logo_P_black{
width: 100px;
height: 100px;
background-color: #000000;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
display: inline-grid;   
}
    
    .logoD{
        display: none;
    }
        .logo_D_black{
        display: none;
    }
    
.icon{
width: auto;
padding-bottom: -10px;
}

.row0 {
padding-left: 7%;
padding-right: 7%;
padding-top: 0%;
padding-bottom: 24%;
height: auto;
    }
    
.row {
padding-left: 7%;
padding-right: 7%;
padding-top: 7%;
padding-bottom: 7%;
height: auto;

/*background-image: url("images/background_1.png");
background-repeat: no-repeat; /* Do not repeat the image */
}

.rowShort {
padding-left: 7%;
padding-right: 7%;
padding-top: 0%;
padding-bottom: 7%;
height: auto;
}
    
.footer {
padding-left: 7%;
padding-right: 7%;
padding-top: 7%;
height: 300px; 
padding-bottom: 1%;
}

.rowArt {
padding-left: 7%;
padding-right: 7%;
padding-top: 7%;
height: 499px;
}

.line {
height: 1px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #000000;
}

.col {
position: relative;
display: inline-block;
width: 100%;
} 
.card0{
border-radius: 15px;
text-align: left;
width: 100%;
margin-bottom: 10px;
}
    
.card00{
border-radius: 15px;
text-align: left;
width: 300px;
margin-bottom: 10px;
}
    
.card1{
float: center;
position: relative;
display: inline-block;
width: 100px;
align-content: center;
}

.card2{ 
float: left;
position: relative;
display: inline-block;
width: 100%;
align-content: left;
}
    
.card3{ 
}
    
.cardP{
border-radius: 15px;
background-color: #ffffff;
text-align: left;
background-color: #ffffff;
margin-bottom: 10px;
padding: 20px;
box-shadow: 0px 2px 10px #e8e8e8;
}
    
.scroll{
border-radius: 15px;
height:45%;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}
    
.scrollB{
border-radius: 15px;
height:65%;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}
    
.cardP2{ 
border-radius: 15px;
background-color: #ffffff;
width:45%;
height:45%;
display: inline-block;
}
    
.cardP3{ 
border-radius: 15px;
background-color: #ffffff;
width: 65%;
height: 65%;
display: inline-block;
}
    
.cardLogo{ 
border-radius: 15px;
background-color: #ffffff;
width: 100px;
height: 100px;
margin-bottom: 10px;
padding: 5px;
box-shadow: -20px 7px 20px rgba(70,97,81, 0.2);
}
    
.art {   
display: none;
}
}

@media (max-width: 870px) {
.art {   
width: 50%;
height: 55%;
position: absolute;
margin-left: 75%;
margin-top: -20%;
right:0px;
}
}

@media (min-width: 871px) {
.art {   
width: 50%;
height: 55%;
position: absolute;
margin-left: 75%;
margin-top: -20%;
right:0px;
}
}

@media (min-width: 1200px) {
.art {   
width: 45%;
height: 45%;
position: absolute;
right: 0;
margin-top: -20%;
}
}