* { 
font-family: Helvetica, Arial, Sans-Serif;
margin: 0px;
color: #000000;
}

body ul{ 
list-style: none;
 }

a:link, a:visited { 
 text-decoration: none;
 }

a:hover, a:active {
color: #f9f9f9;
}

#gradient {
height: 100%;
background: #b9ff5e; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(#b9ff5e, #000000); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#b9ff5e, #000000); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#b9ff5e, #000000); /* For Firefox 3.6 to 15 */
background: linear-gradient(#b9ff5e, #000000); /* Standard syntax */
}

#gradient2 {
height: 100%;
background: #9EFF53; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(#9EFF53, #ffffff); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#9EFF53, #ffffff); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#9EFF53, #ffffff); /* For Firefox 3.6 to 15 */
background: linear-gradient(#9EFF53, #ffffff); /* Standard syntax */
}

#black {
	background: #000000;
}

#white {
	background: #f9f9f9;
}


/* phone */
@media (max-width: 767px) { 

.info {
float: left;
text-align: left;
padding-left: 20px;
padding-top: 20px;
font-size: 25px; 
font-weight: bold;	
}

.phoneContact{
float: left;
text-align: left;
padding-top: 20px;
padding-left: 15px;
font-size: 40px; 
font-weight: bold;	
}

.phoneWork {
float: left;
text-align: left;
padding-left: 20px;
font-size: 40px; 
font-weight: bold;
}

.canvas {display: block;}	

.phoneName { 
float: right;
text-align: right;
padding-right: 10px;
font-size: 40px; 
color: #ffffff;
font-weight: bold;
}
.phoneHeader{
width: 100%;
height: 50px;
background-color: #000000;
}

.dropbtn {
background-color: #000000;
width: 50px;
height: 50px;
padding: 0px;
font-size: 35px;
border: none;
color: #ffffff;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #000000;
color: #9EFF53;
}

.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 200px;
z-index: +1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 20px;
font-size: 25px;
font-weight: bold;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
}

@media (max-width: 375px) { 
.canvasPlus {display: none !important;}	
}

@media (min-width: 376px) { 
.canvas {display: none !important;}	
}

@media (min-width: 415px) {
.canvasPlus {display: none !important;}	
}

/* desktop */
@media (min-width: 768px) {

.info {
	padding-right: 50%;
	padding-left: 10%;
	padding-top: 50px;
display: block;
float: center;
text-align: left;
font-size: 20px; 
font-weight: bold;

}

a:hover, a:active {
color: #ffffff;
}

ul { 
padding: 0;
list-style-type: circle !important;
 }

 li { 
display: inline-flex;
padding-left: 15px;
padding-right: 15px;
 }

.desktopContact {
display: inline-flex;
padding: 10%;
text-align: center;
font-size: 60px; 
font-weight: bold;
}

.desktopWork {
padding: 10%;
text-align: center;
font-size: 60px; 
font-weight: bold;

}

.desktopName { 
padding-left: 10%;
font-size: 55px; 
color: #ffffff;
font-weight: bold;
}
.desktopHeader{
width: 100%;
background-color: #000000;
height: 70px;
}
.dropbtn {
display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
color: #ffffff;
display: inline-block;
float: right;
padding-right: 15%;
padding-top: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
color: #ffffff;
padding-right: 20px;
font-size: 25px;
font-weight: bold;
text-decoration: none;
display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #9EFF53;}

}
}





