* { 
    font-family: Optima, sans-serif;
 }

.h1 { 
font-size: 45px; 
color: #ffffff;
}

.h2 { 
font-size: 25px; 
color: #050b1e;
}

.h3 { 
font-size: 25px; 
color: #ffffff;
}

.foot { 
font-size: 20px; 
color: #ffffff;
}

.body { 
font-size: 15px; 
color: #050b1e;
line-height: 1.5;
}

.link1 { 
font-size: 16px; 
color: #91A0E4;
line-height: 1.5;
}

.link2 { 
font-size: 16px; 
color: #61c4b9;
line-height: 1.5;
}

.link3 { 
font-size: 16px; 
color: #F8AD6D;
line-height: 1.5;
}

.link4 { 
font-size: 16px; 
color: #EF6079;
line-height: 1.5;
}

.link5 { 
font-size: 16px; 
color: #AF95D3;
line-height: 1.5;
}

.social { 
height: 25px; 
padding-right: 5px;
}

#grey {
    background: #efefef;
}

@media (min-width: 767px) {

.canvas {
display: block;}

.art{
width:50%;
}


.image{
width: 100%;
}

.header { 
padding-top: 17px;
padding-left: 20px;
height: 73px;
margin-right: -6.5%;
margin-left: -6.5%;
background-color: #050b1e;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.footer { 
padding-top: 17px;
padding-left: 20px;
height: 43px;
margin-right: -6.5%;
margin-left: -6.5%;
background-color: #050b1e;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.line {
height: 1px;
margin-right: -4%;
margin-left: -4%;
background-color: #050b1e;
}

.side {
padding-left: 20px;
padding-right: 20px;
}

.colLeft { 
margin-left: 10%;
margin-top: 65px;
border-radius: 10px;
background-color: #ffffff;
width: 350px;
align-self: left;
font-size: 20px;
font-weight: medium;
text-align: left;
position: fixed;
box-shadow: 0px 0px 50px #bcbcbc;
}

.colRight {
height: 100%;
width:55%;
z-index: -1;
position: absolute;
right: 0;
}
}

@media (max-width: 767px) {

.canvas {display: none !important;}	 

.art{
width:100%;
}

.header { 
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-right: -20px;
margin-left: -20px;
margin-top: -3px;
padding-top: 17px;
padding-left: 20px;
height: 73px;
background-color: #000000;
}

.footer { 
margin-right: -20px;
margin-left: -20px;
margin-top: -3px;
padding-top: 17px;
padding-left: 20px;
height: 43px;
background-color: #000000;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.line {
height: 1px;
margin-top: 20px;
margin-bottom: 15px;
background-color: #000000;
}

.side {
padding-top: 3px;
}

.colLeft { 
border-radius: 10px;
background-color: #ffffff;
padding-left: 20px;
padding-right: 20px;
float: left;
font-size: 20px;
font-weight: medium;
text-align: left;
background-color: #ffffff;
box-shadow: 0px 0px 10px #636464;
}

.colRight {
}

}