* { 
box-sizing: border-box;
font-family: Helvetica, Arial, Sans-Serif;
color: #000000;
overflow: hidden;
}

h1 {
float: center;
}

h2 {
padding-left: 60px;
}

h3 {
	font-size: 19px;
	padding-left: 40px;
	margin-top: -20px;
	font-style: italic;
}

body ul{ 
list-style: none;
 }
a:link, a:visited { 
 text-decoration: none;

 }

a:hover, a:active {
  color: #ffffff;
  position: relative;
}

div { 
	border: solid black 0px;
	float: center;
	overflow: auto;
}

p {
overflow: auto;

}

footer { 
font-size: 70%;
color: #ffffff;
position: fixed; 
bottom: 10px;
text-align: right;
}

.homeBG{
background-image: url('images/pinkWaves.png');
}

.otherBG { 
background: #d5dae2;
 }

 .blankBG { 
background: #ffffff;
 }

.nav { 
padding-bottom: 
10px;
font-size: 20px;
 }

.butterfly { 
 position: relative;
 width: 100%;
 height: 100%

 }

 .insightful { 
 position: relative;
 width: 100%;
 height: 100%;

 }

 .insight2 {
font-size: 200%;
font-weight: bold;
color: #000000;
 }

.header {
	position: fixed;
}

.title { 
font-size: 300%;
font-weight: bold;
color: #ff72a8;
opacity: .9;
margin-top: -30px;
padding-left: 40px;
}

.bigarrow { 
font-size: 300%;
font-weight: bold;
color: #ffffff;
margin-top: 40px;
text-align: left;
padding-left: 40px;
}

.arrow { 
font-size: 250%;
font-weight: bold;
color: #ff72a8;
margin-top: 50px;
text-align: center;
}

.iw { 
font-size: 300%;
font-weight: bold;
color: #ffffff;
margin-top: 40px;
text-align: right;
padding-right: 40px;
font-style: italic;
}

.homename { 
font-size: 400%; 
font-style: italic;
font-weight: bold;
margin-bottom: 0px;
}

.insight { 
font-size: 250%; 
font-style: italic;
font-weight: bold;
margin-top: 0px;
}

.name { 
font-size: 200%; 
font-style: italic;
font-weight: bold;
text-align: center;

}

.info {
	padding-left: 60px;
}

.underline {
	text-decoration: underline;
	padding-left: 60px;
}

/* desktop */
@media (min-width: 992px) { 
.col-dt-1, .col-dt-2, .col-dt-3, .col-dt-4, 
.col-dt-5, .col-dt-6, .col-dt-7, .col-dt-8, 
.col-dt-9, .col-dt-10, .col-dt-11 { 
float: left; } 
.col-dt-1 { 
width: 5%; 
}
.col-dt-2 { 
width: 90%; 
}
.col-dt-3 { 
width: 95%; 
}
.col-dt-4 { 
width: 100%; 
}
.col-dt-5 { 
width: 25%; 
}
.col-dt-6 { 
width: 60%; 
}
.col-dt-7 { 
width: 70%; 
}
.col-dt-8 { 
width: 45%; 
}
.col-dt-9 { 
width: 33%; 
}
.col-dt-10 { 
width: 20%; 
}
.col-dt-11 { 
width: 15%; 
}
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) { 
.col-ta-1, .col-ta-2, .col-ta-3, .col-ta-4, 
.col-ta-5, .col-ta-6, .col-ta-7, .col-ta-8, 
.col-ta-9, .col-ta-10 { 
float: left; } 

.col-ta-1 { 
width: 2.5%; 
}
.col-ta-2 { 
width: 5%; 
}
.col-ta-3 { 
width: 90%; 
}
.col-ta-4 { 
width: 95%; 
}
.col-ta-5 { 
width: 100%; 
}
.col-ta-6 { 
width: 60%; 
}
.col-ta-7 { 
width: 25%; 
}
.col-ta-8 { 
width: 30%; 
}
.col-ta-9 { 
width: 50%; 
}
.col-ta-10 { 
width: 20%; 
}
}

/* phone */
@media (max-width: 767px) { 
.col-ph-1, .col-ph-2, .col-ph-3, .col-ph-4, 
.col-ph-5 { 
float: left; } 
.col-ph-1 { 
width: 2%; 
}
.col-ph-2 { 
width: 5%; 
}
.col-ph-3 { 
width: 90%;
}
.col-ph-4 { 
width: 100%; 
}
.col-ph-5 { 
width: 25%; 
}
}

@media (min-height: 676px) { 
 .bigger {
	height: 490px;
	} 
}

@media (min-height: 641px) and (max-height: 675px) {
 .big {
	height: 400px;
	} 
}

@media (min-height: 415px) and (max-height: 640px) { 
.small {
	height: 250px;
	}
}

@media (max-height: 414px) {
	.landscape { 
	height: 150px; 
}
}

<img class="slides" src="img.1.png">
<img class="slides" src="img.2.png">
<img class="slides" src="img.3.png">
<img class="slides" src="img.4.png">
<img class="slides" src="img.5.png">
<img class="slides" src="img.6.png">

